* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Sans", "Poppins";
    margin: 0;
    padding: 0;
    background-color: #f4f7fe;
}


/* ======== Sidebar start ============ */



.sidebar {
    background: #ffffff;
    margin: 0 0 250px 0;
    padding: 0;
    height: 1120px;
    border-radius: 0 0 30px 0;
}

/* logo start */

.sidebar-logo {
    height: 15%;
    border-bottom: 2px solid #f4f7fe;
    width: 100%;
}

.sidebar-logo>h1 {
    font-family: "Poppins", "DM Sans";
    display: flex;
    justify-content: center;
    transform: translateY(100%);
}

/* logo End */

/* Navigation start */
.sidebar-nav{
    margin-bottom: 300px ;
}

.sidebar-nav > ul > li {
    gap: 150px;
}
/* Navigation End */

/* upgrade start */

.upgrade-pro {
    position: relative;
    background: linear-gradient(135deg, #8387ff, #461dff, #461dff);
    color: #ffffff;
    margin-bottom: 10px;
}

.eclipse-circle {
    position: absolute;
    top: -20%;
    right: 28%;
    height: 100px;
    width: 100px;
    background: linear-gradient(135deg, #8387ff, #461dff, #461dff);
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.eclipse-circle>img {
    position: absolute;
    top: 30%;
    right: 30%;
}

/* upgrade End */

/* ======== Sidebar End ============ */