*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Sans","Poppins";
    margin: 0;
    padding: 0;
    background-color: #f4f7fe;
}

.sidebar{
background: #ffffff;
margin: 0;
padding: 0;
height: 100vh;
}

.sidebar-logo {
    height: 25%;
    border-bottom: 2px solid #f4f7fe;
    width: 100%;    
}

.sidebar-logo > h1 {
font-family: "Poppins", "DM Sans";
display: flex;
justify-content: center;
transform: translateY(150%);
}